@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
  margin-top: 100px;
}

#add-word-btn {
  height: 35px;
  width: 100px;
  font-size: 12px;
  margin-right: 20px;
}

#word-card {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 300px;
  width: 500px;
}

#view {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
